<div class="container">

  <h2>Using MobileNet neural network in Angular</h2>

  <div class="upload" [hidden]="!model">
    Upload an image: <input #fileUpload type="file" id="files" name="files[]" (change)="fileChangeEvent($event)" />
  </div>

  <div>
    <img #chosenImage width="224" height="224" class="sample-image" />
    <div class="predictions">
      <div *ngFor="let class of classes" class="row">
        <div class="col-sm-6">
          {{class.className}}
        </div>
        <div class="col-sm-6">
          {{class.probability.toFixed(3)}}
        </div>
      </div>
    </div>
  </div>
</div>
